* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "EB Garamond", Garamond, "Times New Roman", Times, serif;
    font-weight: 400;
    background-color: #f7f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 32px;
}

h1 {
    font-weight: 400;
}